.operationButton, .numberButton, .otherButtons {
    background-color: #e558ba;
    box-shadow: 0px 0px 2px 2px #500a43;
    border-radius: 20px;
    border: 1px solid #565256;
    cursor: pointer;
    transition: 200ms;
}

.operationButton:hover, .numberButton:hover, .otherButtons:hover {
    background-color: #de69d0;
}


.operationButton {
    width: calc(25% - 10px);
    height: 65%;
    margin: 0 5px 0 5px;
}

.numberButton {
    width: calc(33% - 10px);
    height: 20%;
    margin: 0px 5px 0px 5px;
}

.otherButtons {
    min-width: 47px;
    width: 80%;
    height: 35px;
    margin: 0 20px 0 5px;
    background-color: #ce49ac;
    border: 2px inset #790566;
}

.font {
    color: white;
    font-size: 22px;
    font-weight: bold;
}

