body {
    margin: 0;
}


.wrapper {
    width: 100vw;
    height: 100vh;
    background-color: #232222;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
}

.wrapper h1 {
    margin-bottom: 40px;
    font-size: 40px;
    color: white;
    letter-spacing: 9px;
    font-family: sans-serif;
    text-shadow: 0px 2px 0px black;
}

.wrapper h1 sub {
    color: #076fb1;
    font-size: 38px;
}

.wrapper .calculator {
    min-width: 280px;
    width: 30%;
    height: 70%;
    border-radius: 20px;
    background-color: #9d1872;
    padding: 40px;
    box-shadow: 6px -5px 20px 0px #250325, 5px -5px 18px 5px #181515, 5px 5px 25px -4px black, 2px -5px 25px 5px #776d6d;
    box-sizing: border-box;
}

.wrapper .calculator .inputField {
    background-color: #d5cfcf;
    height: 20%;
    border: 4px inset #410c3d;
    border-bottom: none;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 4px;
    box-sizing: border-box;
}

.wrapper .calculator .inputField .partForValue {
    height: 33%;
    margin: 5px;
}

.wrapper .calculator .inputField .partForValue p {
    margin: 0;
    font-size: 24px;
    color: black;
    font-weight: bold;
    font-family: sans-serif;
}

.wrapper .calculator .inputField .partForValue p {
    margin: 0;
    font-size: 26px;
    text-shadow: 1px 1px 1px black;
    color: black;
    font-weight: bold;
    font-family: sans-serif;
}

.blockForChooseOperation {
    height: 15%;
    display: flex;
    align-items: center;
}


.wrapper .calculator .mainPart {
    width: 100%;
    height: 65%;
    display: flex;
    background-color: rgba(58, 56, 56, 0.6);
    padding: 5px;
    box-sizing: border-box;
    border-radius: 20px;
}

.wrapper .calculator .mainPart .blockForNumbers {
    width: 80%;
    height: 100%;
    box-sizing: border-box;
    padding: 10px;
}

.wrapper .calculator .mainPart .blockForOtherOperations {
    width: 20%;
    height: 100%;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}


footer {
    display: flex;
    width: 100%;
    padding-right: 20px;
    box-sizing: border-box;
    justify-content: end;
}

h5 {
    color: white;
    letter-spacing: 1px;
    font-size: 20px;
    font-family: sans-serif;
}
